<div class="login-form bg-gray-100 py-12 min-h-screen flex justify-center items-center">
  <form
    [formGroup]="changeForm"
    (ngSubmit)="submitForm()"
    class="w-full bg-white max-w-lg mx-auto p-8 rounded-2xl shadow space-y-5"
  >
    <header class="text-center space-y-2">
      <h2 class="text-3xl font-bold">Change Password</h2>
    </header>

    <div class="form-control space-y-2">
      <div>
        <label for="password" class="text-sm mb-1">Current password</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg
              class="w-4 h-4 text-body"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <input
            #pass
            formControlName="password"
            type="password"
            id="password"
            class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
            placeholder="Enter the current password"
          />
          <span
            (click)="showPass(pass)"
            class="cursor-pointer absolute top-1/2 end-4 -translate-y-1/2"
            ><i [class]="pass.type === 'password' ? 'fa-eye-slash' : 'fa-eye'" class="fas"></i
          ></span>
        </div>
        @if (changeForm.get('password')?.invalid && changeForm.get('password')?.touched) {
          @if (changeForm.get('password')?.getError('required')) {
            <p class="text-red-500">*current Password is required</p>
          }
        }
      </div>

      <div>
        <label for="newnewPassword" class="text-sm mb-1">New Password</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg
              class="w-4 h-4 text-body"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <input
            #newpass
            formControlName="newPassword"
            type="password"
            id="newPassword"
            class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
            placeholder="Create a strong New Password"
          />
          <span
            (click)="showPass(newpass)"
            class="cursor-pointer absolute top-1/2 end-4 -translate-y-1/2"
            ><i [class]="newpass.type === 'password' ? 'fa-eye-slash' : 'fa-eye'" class="fas"></i
          ></span>
        </div>
        @if (changeForm.get('newPassword')?.invalid && changeForm.get('newPassword')?.touched) {
          @if (changeForm.get('newPassword')?.getError('required')) {
            <p class="text-red-500">*New Password is required</p>
          } @else if (changeForm.get('password')?.getError('pattern')) {
            <p class="text-red-500">
              *Password should be at least eight characters, at least one upper case English letter,
              one lower case English letter, one number and one special character
            </p>
          }
        }
      </div>

      <div>
        <label for="rePassword" class="text-sm mb-1">Confirm New Password</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg
              class="w-4 h-4 text-body"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <input
            #repass
            formControlName="rePassword"
            type="password"
            id="rePassword"
            class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
            placeholder="Confirm The New Password"
          />
          <span
            (click)="showPass(repass)"
            class="cursor-pointer absolute top-1/2 end-4 -translate-y-1/2"
            ><i [class]="repass.type === 'password' ? 'fa-eye-slash' : 'fa-eye'" class="fas"></i
          ></span>
        </div>
        @if (changeForm.get('password')?.invalid && changeForm.get('password')?.touched) {
          @if (changeForm.get('password')?.getError('required')) {
            <p class="text-red-500">*Confirm Password is required</p>
          } @else if (changeForm.get('rePassword')?.getError('missmatch')) {
            <p class="text-red-500">*Password and confirm password should be the same</p>
          }
        }
      </div>
    </div>
    <button
      [disabled]="changeForm.invalid"
      type="submit"
      class="btn disabled:cursor-not-allowed disabled:from-gray-500 disabled:to-gray-400 w-full py-3 bg-linear-to-r from-blue-600 to-blue-400 border-none text-white font-bold"
    >
      @if (!loading) {
        <span>Update Password</span>
      } @else {
        <i class="fa-solid fa-spinner fa-spin"></i>
      }
    </button>
    @if (msgError) {
      <p class="text-center text-red-500 w-1/2 mx-auto">*{{ msgError }}</p>
    }
  </form>
</div>
